/* =========================================================
 *  01. SZÖVEGSZÍNEK
 * ========================================================= */

.muted {
    color: var(--color-muted);
}

/* =========================================================
 *  02. KÉPERNYŐN NEM LÁTHATÓ, DE FELÜLOLVASÓNAK ELÉRHETŐ
 * ========================================================= */

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;

    overflow: hidden;

    clip: rect(0 0 0 0);
    white-space: nowrap;

    border: 0;
}
